Arduino_Uno_Dragino_DHT_11_Temp_Hum_Flow_node_red.json
[
    {
        "id": "105b5aeb52cd96ab",
        "type": "tab",
        "label": "Arduino_uno_dragino_lorawan",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5365f667362184cc",
        "type": "json",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 40,
        "wires": [
            [
                "0f1eb29dd6af2568"
            ]
        ]
    },
    {
        "id": "4aaa9a977bec2b33",
        "type": "mqtt in",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "topic": "application/1/device/00d9bfe3a3cef521/rx",
        "qos": "2",
        "datatype": "auto",
        "broker": "14301612a4d63c20",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "8f5db080477ab0e8",
                "5365f667362184cc",
                "6f6e301f30c39233"
            ]
        ]
    },
    {
        "id": "0f1eb29dd6af2568",
        "type": "debug",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 20,
        "wires": []
    },
    {
        "id": "8f5db080477ab0e8",
        "type": "json",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "7686c908ba3a8373",
                "026b3aa32b0a9d12",
                "6190350481d9de4e",
                "6edf1cb7562573bc",
                "0cbf86f9ffca2784",
                "ad32a47e5f485f1c",
                "b869f12da94d4e68",
                "1f565176cecd8ff1",
                "b483723b47b5486b"
            ]
        ]
    },
    {
        "id": "7686c908ba3a8373",
        "type": "function",
        "z": "105b5aeb52cd96ab",
        "name": "Temperature",
        "func": "// outputs: 2\nmsg.payload = msg.payload.object.temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "5adc64b51610555e",
                "08fc2016c45fae83",
                "c4b63aa129dcc2d2",
                "a77e9a0e2bfba2e7"
            ]
        ]
    },
    {
        "id": "026b3aa32b0a9d12",
        "type": "function",
        "z": "105b5aeb52cd96ab",
        "name": "Humidity",
        "func": "// outputs: 2\nmsg.payload = msg.payload.object.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "d720c2adad64a9c8",
                "08fc2016c45fae83",
                "cedb1671ec2f4dc4",
                "1f15905f1259a146"
            ]
        ]
    },
    {
        "id": "6190350481d9de4e",
        "type": "function",
        "z": "105b5aeb52cd96ab",
        "name": "Device EUI",
        "func": "// outputs: 2\nmsg.payload = msg.payload.devEUI\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "08fc2016c45fae83",
                "1d69b9b49f1e7715"
            ]
        ]
    },
    {
        "id": "08fc2016c45fae83",
        "type": "debug",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 170,
        "y": 420,
        "wires": []
    },
    {
        "id": "5adc64b51610555e",
        "type": "ui_gauge",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "group": "47f6b6e5.15d078",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Температура",
        "label": "C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "28",
        "seg2": "30",
        "className": "",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "d720c2adad64a9c8",
        "type": "ui_gauge",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "group": "47f6b6e5.15d078",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Влажност",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "80",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "1d69b9b49f1e7715",
        "type": "ui_text",
        "z": "105b5aeb52cd96ab",
        "group": "29a422d4edf843cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device EUI на устройството:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "6c3921d8e60f1606",
        "type": "comment",
        "z": "105b5aeb52cd96ab",
        "name": "For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ",
        "info": "\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)",
        "x": 270,
        "y": 500,
        "wires": []
    },
    {
        "id": "6f6e301f30c39233",
        "type": "debug",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "c4b63aa129dcc2d2",
        "type": "influxdb out",
        "z": "105b5aeb52cd96ab",
        "influxdb": "76a8feb.025c8",
        "name": "Temperature",
        "measurement": "Temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "cedb1671ec2f4dc4",
        "type": "influxdb out",
        "z": "105b5aeb52cd96ab",
        "influxdb": "2a032025.e66ab",
        "name": "Humidity",
        "measurement": "Humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "6edf1cb7562573bc",
        "type": "debug",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 700,
        "wires": []
    },
    {
        "id": "a77e9a0e2bfba2e7",
        "type": "ui_chart",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "group": "8230fb5f.3600b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Температура",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1f15905f1259a146",
        "type": "ui_chart",
        "z": "105b5aeb52cd96ab",
        "name": "",
        "group": "8230fb5f.3600b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Влажност",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0cbf86f9ffca2784",
        "type": "function",
        "z": "105b5aeb52cd96ab",
        "name": "Application ID",
        "func": "// outputs: 2\nmsg.payload = msg.payload.applicationID\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "04278491fc0e2a4f"
            ]
        ]
    },
    {
        "id": "04278491fc0e2a4f",
        "type": "ui_text",
        "z": "105b5aeb52cd96ab",
        "group": "29a422d4edf843cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Application ID:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "ad32a47e5f485f1c",
        "type": "function",
        "z": "105b5aeb52cd96ab",
        "name": "Application Name:",
        "func": "// outputs: 2\nmsg.payload = msg.payload.applicationName\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "9e37f94a373e2ca6"
            ]
        ]
    },
    {
        "id": "9e37f94a373e2ca6",
        "type": "ui_text",
        "z": "105b5aeb52cd96ab",
        "group": "29a422d4edf843cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Application Name:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "b869f12da94d4e68",
        "type": "function",
        "z": "105b5aeb52cd96ab",
        "name": "Device Name",
        "func": "// outputs: 2\nmsg.payload = msg.payload.deviceName\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "36fa7bb24b6a8028"
            ]
        ]
    },
    {
        "id": "36fa7bb24b6a8028",
        "type": "ui_text",
        "z": "105b5aeb52cd96ab",
        "group": "29a422d4edf843cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device Name:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "1f565176cecd8ff1",
        "type": "function",
        "z": "105b5aeb52cd96ab",
        "name": "txInfo",
        "func": "// outputs: 2\nmsg.payload = msg.payload.txInfo.frequency\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 420,
        "wires": [
            [
                "de28795ef435a95b"
            ]
        ]
    },
    {
        "id": "de28795ef435a95b",
        "type": "ui_text",
        "z": "105b5aeb52cd96ab",
        "group": "29a422d4edf843cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Frequency ,kHz:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "b483723b47b5486b",
        "type": "function",
        "z": "105b5aeb52cd96ab",
        "name": "ADR",
        "func": "// outputs: 2\nmsg.payload = msg.payload.adr\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "5ba4f2b22e287edd"
            ]
        ]
    },
    {
        "id": "5ba4f2b22e287edd",
        "type": "ui_text",
        "z": "105b5aeb52cd96ab",
        "group": "29a422d4edf843cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Adaptive Data Rate:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "a2770ca01a7b0275",
        "type": "ui_spacer",
        "z": "105b5aeb52cd96ab",
        "name": "spacer",
        "group": "8230fb5f.3600b8",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "14301612a4d63c20",
        "type": "mqtt-broker",
        "name": "PB_Gateway",
        "broker": "37.143.223.62",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "47f6b6e5.15d078",
        "type": "ui_group",
        "name": "Измерени стойности",
        "tab": "e552f61c.b64728",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "29a422d4edf843cb",
        "type": "ui_group",
        "name": "Информация за устройството",
        "tab": "e552f61c.b64728",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "76a8feb.025c8",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "TempData",
        "name": "Localhost_Temperature",
        "usetls": false,
        "tls": "fdccad2.8209a5",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "2a032025.e66ab",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "HumData",
        "name": "Localhost_Humidity",
        "usetls": false,
        "tls": "fdccad2.8209a5",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "8230fb5f.3600b8",
        "type": "ui_group",
        "name": "Графики",
        "tab": "e552f61c.b64728",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e552f61c.b64728",
        "type": "ui_tab",
        "name": "Тест_Arduino_uno_dragino_Lora",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fdccad2.8209a5",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]